*{
	font-family: sans-serif;
	box-sizing: border-box;
}

header {
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-color: gray;
	border-radius: 20px;
	border: none;
	padding: 1em;
}

.nav {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.nav-link {
	text-decoration: none;
	padding: 10px 15px;
	text-align: left;
	color: black;
}

.nav-link ~ .nav-link {
	margin-left: 1em;
}

.nav-link:hover {
	background-color: lightgray;
	color: black;
	border-radius: 20px;
}

.logo {
	margin-left: auto;
	border-radius: 50%;
}

.logo img {
	border-radius: 50%;
}

body {
	text-align: center;
	margin: 0;
}

main {
	max-width: min(100%, clamp(600px, 60vw, 1200px));
	margin: 0 auto;
	padding: 1em;
}

#posts {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.post {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	border-style: none;
	border-radius: 20px;
	padding: 1em;
	text-align: left;
}

.post-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-image {
  max-width: 90%;
  padding: .1em;
}

.post-date {
  font-size: 1em;
  color: black;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .1em;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#posts > .post > p {
	color: black;
}

#posts > .post > img {
	height: 200px;
	width: 200px;
}

.post + .post {
	margin-top: 1em;
}

footer {
	text-align: center;
	display: flex;
	align-items: center;
	background-color: gray;
	border-radius: 20px;
	border: none;
	padding: 1em;
}

form {
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	background-color: lightgray;
	border-radius: 10px;
}

form textarea {
    width: 100%;
    height: 25vh;
    padding: 1em;
    resize: none;
}

form input[type="submit"], form input[type="file"] {
	margin-top: 0em;
}

form input[type="email"], form input[type="password"] {
	margin: 0.2em 0;
	width: 100%;
	line-height: 32px;
}

form a {
	color: teal;
}

.form-forgot-password {
	margin-top: 1em;
}

.file-input {
	display: none;
}

.file-link {
	display: inline-block;
	margin: 1em 0;
	color: teal;
	text-decoration: underline;
	cursor: pointer;
}